@layer reset, theme, setup, demo;

@layer demo {
  .anchor {
    anchor-name: --tooltip-anchor;
  }

  .tooltip {
    bottom: calc(anchor(--tooltip-anchor top) + 1rem);
    left: anchor(--tooltip-anchor center);
  }
}

@layer setup {
  body {
    display: grid;
    place-items: center;
  }

  .tooltip {
    display: none;
    position: absolute;
    padding: 1rem;
    background-color: #eee;
    border-radius: 4px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    font-size: 1.5rem;
    transform: translateX(-50%);
  }

  body:has(.button:hover, .button:focus-visible) .tooltip {
    display: block;
  }
}
