@layer reset, theme, setup, demo;

@layer demo {
  .color-a {
    background-color: var(--color);
    color: color-contrast(var(--color) vs var(--color-a), var(--color-b));
  }
}

@layer setup {
  main {
    font-size: 2rem;
    font-weight: 700;
  }

  .color-a {
    display: flex;
    align-items: center;
    justify-content: center;
    block-size: 400px;
    aspect-ratio: 1;
    padding: 1rem;
  }

  .controls > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-block-end: 1px solid #eee;
    padding: 1rem;
  }
}
