@layer reset, theme, setup, demo;

@layer demo {
  * > * {
    margin-bottom: 1rem;
  }

  .container > *:last-child {
    margin-bottom: 0;
  }
}

@layer setup {
  .container {
    display: flex;
    flex-direction: column;
    inline-size: 40%;
    max-inline-size: 400px;
    border: 2px solid var(--brand-purple);
  }

  .button {
    flex: 1;
  }
}
