@layer reset, theme, setup, demo;

@layer demo {
  .container {
    margin-trim: var(--margin-trim, none);
  }

  .button {
    margin: 1rem;
  }
}

@layer setup {
  main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    inline-size: 40%;
    max-inline-size: 400px;
  }

  .container {
    display: flex;
    flex-direction: column;
    border: 2px solid var(--brand-purple);
  }

  .inline .container {
    flex-direction: row;
  }

  .inline .button {
    flex: 1;
  }

  .controls {
    display: flex;
    margin-block-start: 1rem;
    justify-content: center;
    gap: 1rem;
    font-size: 1.2rem;
  }
}
