@layer reset {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  html,
  body {
    block-size: 100%;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }
}

@layer theme {
  .card {
    padding: 1rem;
    border: 1px solid pink;
    border-radius: 1rem;
  }

  .card img {
    inline-size: 100%;
    height: auto;
    aspect-ratio: 16/9;
    object-fit: cover;
  }

  .special {
    background-color: purple;
  }
}
