@layer reset, theme, setup, demo;

@layer demo {
  a {
    leading-trim: var(--leading-trim, both);
    text-edge: var(--text-edge, cap) alphabetic;
  }
}

@layer setup {
  main {
    display: grid;
    gap: 1rem;
    justify-items: center;
  }

  .button {
    display: block;
    padding: 0;
  }

  select {
    font-size: 3rem;
  }

  .highlighter {
    background-color: var(--brand-yellow);
    padding: 1rem;
    border: 4px solid var(--brand-dark);
  }

  a {
    font-size: 6rem;
    color: var(--brand-light);
    background-color: var(--brand-pink);
    text-decoration: none;
  }
}
