@layer reset, theme, setup, demo;

@layer demo {
  .where-button:where(:hover) {
    background-color: var(--brand-pink);
  }

  .where-button {
    background-color: var(--brand-purple);
  }

  .is-button:is(:hover) {
    background-color: var(--brand-pink);
  }

  .is-button {
    background-color: var(--brand-purple);
  }
}

@layer setup {
  main {
    display: flex;
    gap: 1rem;
  }

  :where(.where-button, .is-button) {
    color: var(--brand-light);
  }
}
