.is-button,
.where-button {
  padding: 10px;
  color: white;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.where-button:where(:hover) {
  background-color: red;
}

.where-button {
  background-color: blue;
}

.is-button:is(:hover) {
  background-color: purple;
}

.is-button {
  background-color: blue;
}

:is(.also-specific, button.is-button:hover) {
  background-color: pink;
}

.is-button.specific {
  background-color: green;
}
