@layer reset, theme, setup, demo;

@layer demo {
  .where-button:where(:hover) {
    outline-color: var(--brand-dark);
  }

  .is-button:is(:hover) {
    outline-color: var(--brand-yellow);
  }

  :is(.also-specific, button.is-button:hover) {
    outline-color: var(--brand-pink);
  }
}

@layer setup {
  main {
    display: flex;
    gap: 1rem;
  }

  .where-button {
    outline: 4px solid var(--brand-blue);
  }

  .is-button {
    outline: 4px solid var(--brand-blue);
  }
}
