@layer reset, theme, setup, demo;

@layer demo {
  img {
    animation-name: spinny;
    animation-duration: 1s;
    animation-direction: alternate;
    animation-timeline: scroll(block nearest);
  }
}

@layer setup {
  main {
    position: relative;
    block-size: 400px;
    inline-size: 400px;
    overflow: scroll;
    outline: 1px solid var(--brand-purple);
  }

  main::after {
    display: block;
    content: "";
    block-size: 300%;
    inline-size: 40px;
  }

  img {
    position: sticky;
    inset: 10% 50%;
  }

  @keyframes spinny {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(720deg);
    }
  }
}
