.App {
  display: grid;
  grid-template-columns: [full-start] 1fr [main-start] 120ch [main-end] 1fr [full-end];
  block-size: 100%;
  contain: layout;
}

main {
  grid-column: main;
  contain: layout;
  view-transition-name: main;
}

button {
  cursor: pointer;
}

.productGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1rem;
  padding: 1rem 0;
}

.breadcrumb {
  display: flex;
  margin: 0;
  padding: 1rem 0;
  list-style: none;
  view-transition-name: breadcrumb;
  grid-column: main;
  gap: 1rem;
  contain: layout;
}

.breadcrumb-home {
  view-transition-name: breadcrumb-home;
  inline-size: fit-content;
  contain: layout;
}

.product-image {
  view-transition-name: product-image;
  contain: layout;
}

.doughnutdothis {
  width: 100vw;
  position: absolute;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  top: 0;
  bottom: 0;

  background-color: var(--brand-purple);
  contain: paint;
  z-index: 100;
  view-transition-name: doughnutdothis;

  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(3);
}

.product-container {
  inline-size: 40vw;
  margin: auto;
}

.product-image {
  display: flex;
  justify-content: center;
  background-color: var(--brand-pink);
  margin-block-end: 1rem;
}

.product-description {
  color: var(--brand-dark);
  font-size: 1.4rem;
}

@keyframes slide-from-right {
  from {
    transform: translateX(30px);
  }
}

@keyframes slide-from-bottom {
  from {
    transform: translateY(30px);
  }
}

@keyframes slide-to-bottom {
  to {
    transform: translateY(30px);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
}

@keyframes fade-out {
  to {
    opacity: 0;
  }
}

@keyframes scale-in {
  from {
    transform: translateX(-50%);
  }
}

@keyframes outty {
  to {
    transform: scale(0.8);
  }
}

@keyframes inny {
  from {
    transform: scale(0.8);
  }
}

@keyframes spinneroony {
  from {
    scale: 0;
  }
  to {
    transform: rotate(8turn);
  }
}

::view-transition-old(root) {
  animation: 90ms cubic-bezier(0.4, 0, 1, 1) both fade-out;
}

::view-transition-new(breadcrumb) {
  animation: 90ms cubic-bezier(0.4, 0, 1, 1) both slide-from-right;
}

::view-transition-old(main) {
  animation: 90ms cubic-bezier(0.4, 0, 1, 1) both fade-out,
    300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-to-bottom;
}

::view-transition-new(main) {
  animation: 90ms cubic-bezier(0.4, 0, 1, 1) both fade-in,
    300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-bottom;
}

::view-transition-new(product-image):only-child {
  animation: 90ms cubic-bezier(0.4, 0, 1, 1) both fade-in,
    90ms cubic-bezier(0.4, 0, 1, 1) both inny;
}

::view-transition-old(product-image):only-child {
  animation: 90ms cubic-bezier(0.4, 0, 1, 1) both fade-out,
    90ms cubic-bezier(0.4, 0, 1, 1) both outty;
}

::view-transition-image-pair(doughnutdothis) {
  animation: 100ms ease-in-out both spinneroony reverse;
}
