@layer reset, theme, setup, demo;

@layer demo {
  main:has(.card:last-of-type:nth-of-type(odd)) .card:first-child {
    grid-column: 1 / -1;
  }
}

@layer setup {
  body {
    grid-template-columns: 0.5fr 1fr 0.5fr;
  }

  main {
    grid-column: 2;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 2rem;
  }
}
