@layer reset, theme, setup, demo;

@layer demo {
  main {
    grid-template-rows: masonry;
  }

  .special {
    grid-column: 2 / 4;
    grid-row: 1;
  }

  .masonry-column {
    grid-template-columns: masonry;
    grid-template-rows: repeat(3, 200px);
  }
}

@layer setup {
  main {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
  }

  .masonry-column .card img {
    inline-size: 100px;
    block-size: 100px;
  }

  .special {
    background: var(--gradient-purple-pink);
    --card-header-color: var(--brand-light);
    --card-body-color: var(--brand-light);
    --card-primary-color: transparent;
  }
}
