@layer reset, theme, setup, demo;

@layer demo {
  main {
    grid-template-rows: masonry;
  }

  .special {
    grid-column: 2 / 4;
    grid-row: 1;
  }
}

@layer setup {
  body {
    place-items: center;
  }

  main {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
  }
}
