@layer reset, theme, setup, demo;

@layer demo {
  .menu li {
    --radius: 200px;
    transform: translate(
      calc(cos(var(--deg, 0deg)) * var(--radius)),
      calc(sin(var(--deg, 0deg)) * var(--radius))
    );
    transition: all 0.2s var(--delay) linear;
  }

  .menu:not(:hover) li {
    --radius: 0;
    --deg: 0;
  }

  .menu li:nth-child(1) {
    --deg: 0deg;
    --delay: 0.01s;
  }

  .menu li:nth-child(2) {
    --deg: 45deg;
    --delay: 0.03s;
  }

  .menu li:nth-child(3) {
    --deg: 90deg;
    --delay: 0.05s;
  }

  .menu li:nth-child(4) {
    --deg: 135deg;
    --delay: 0.07s;
  }

  .menu li:nth-child(5) {
    --deg: 180deg;
    --delay: 0.09s;
  }

  .menu li:nth-child(6) {
    --deg: 225deg;
    --delay: 0.11s;
  }

  .menu li:nth-child(7) {
    --deg: 270deg;
    --delay: 0.13s;
  }

  .menu li:nth-child(8) {
    --deg: 315deg;
    --delay: 0.15s;
  }
}

@layer setup {
  .menu {
    position: relative;
    padding: 0;
    margin: 0;
  }

  button {
    position: relative;
    inline-size: 200px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: var(--gradient-purple-pink-shorter);
    border: none;
    z-index: 10;
  }

  button img {
    inline-size: 60%;
    block-size: 60%;
    object-fit: contain;
  }

  .menu li {
    --size: 100px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    inline-size: var(--size);
    aspect-ratio: 1;
    padding: 0;
    margin: 0;
    background-color: var(--brand-yellow);
    border-radius: 50%;
    inset: calc(var(--size) / 2);
    list-style: none;
  }

  .menu li img {
    inline-size: 60%;
    block-size: 60%;
    object-fit: contain;
  }
}
