@layer reset, theme, setup, demo;

@layer demo {
  .color-b {
    background-color: hsl(from var(--color) h s l);
  }

  .color-c {
    background-color: hsl(from var(--color) h s l / 0.5);
  }

  .color-d {
    background-color: hsl(from var(--color) calc(h * 10) s l / 0.5);
  }
}

@layer setup {
  .grid-layout {
    --color: var(--brand-purple);

    display: grid;
    grid-template-columns: repeat(2, 200px);
    grid-template-rows: repeat(2, 200px);
    gap: 1rem;
    font-size: 1.5rem;
  }

  [class^="color"] {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
  }

  .color-a {
    background-color: var(--color);
  }

  .controls > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-block-end: 1px solid #eee;
    padding: 1rem;
    font-weight: 700;
    font-size: 2rem;
  }
}
