@layer reset, theme, setup, demo;

@layer demo {
  .anchor {
    anchor-name: --tooltip-anchor;
  }

  .tooltip {
    position-anchor: --tooltip-anchor;
    inline-size: calc(anchor-size(width) * 2);
    inset-block-end: calc(anchor(top) + 1rem);
    inset-inline-start: anchor(center);
  }
}

@layer setup {
  body {
    display: grid;
    place-items: center;
  }

  .tooltip {
    position: absolute;
    padding: 1rem;
    background-color: var(--brand-dark);
    border-radius: 4px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    color: #fff;
    font-size: 1.5rem;
    transform: translateX(-50%);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s linear;
    text-align: center;
  }

  body:has(.button:hover, .button:focus-visible) .tooltip {
    visibility: visible;
    opacity: 1;
  }
}
