@layer reset, theme, setup, demo;

@layer demo {
  .color-mix {
    background-color: color-mix(
      in srgb,
      var(--_color-a) var(--color-a-percent, 50%),
      var(--_color-b) var(--color-b-percent, 50%)
    );
  }
}

@layer setup {
  main {
    --_color-a: var(--color-a, var(--brand-purple));
    --_color-b: var(--color-b, var(--brand-yellow));

    display: grid;
    grid-template-columns: repeat(3, 200px);
    gap: 2rem;
  }

  main > div {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
  }

  [class^="color"] {
    inline-size: 100%;
    aspect-ratio: 1;
  }

  .color-a {
    background-color: var(--_color-a);
  }

  .color-b {
    background-color: var(--_color-b);
  }

  .controls {
    grid-column: 1 / -1;
  }

  .controls input {
    inline-size: 100%;
  }
}
