@layer reset, theme, setup, demo;

@layer demo {
  body:has(input[value="dark"]:checked) {
    --body-background: var(--brand-dark);
    --card-header-color: var(--brand-light);
    --card-body-color: rgb(255 255 255 / 0.8);
    --card-primary-color: var(--brand-yellow);
    --button-background: var(--gradient-yellow-pink-shorter);
    --body-color: var(--brand-light);
  }

  body:has(input[value="light"]:checked) {
    --body-background: var(--brand-light);
  }
}

@layer setup {
  body {
    grid-template-rows: 200px auto;
  }

  main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
  }
}
