@layer reset, theme, setup, demo;

@layer demo {
  .balanced {
    text-wrap: balance;
  }
}

@layer setup {
  main {
    max-inline-size: 80vw;
    display: flex;
    gap: 1rem;
    resize: horizontal;
    overflow: hidden;
  }
}
