@layer reset, theme, setup, demo;

@layer demo {
  .start {
    anchor-name: --start-anchor;
  }

  .end {
    anchor-name: --end-anchor;
  }

  .shape {
    inset-block-start: min(
      anchor(--start-anchor center),
      anchor(--end-anchor center)
    );
    inset-block-end: min(
      anchor(--start-anchor center),
      anchor(--end-anchor center)
    );
    inset-inline-start: min(
      anchor(--start-anchor center),
      anchor(--end-anchor center)
    );
    inset-inline-end: min(
      anchor(--start-anchor center),
      anchor(--end-anchor center)
    );
  }
}

@layer setup {
  .container {
    position: relative;
    inline-size: 400px;
    block-size: 400px;
  }

  .shape {
    position: absolute;
    background: var(--gradient-purple-pink);
  }

  .handle {
    position: relative;
    inline-size: 40px;
    block-size: 40px;
    background-color: var(--brand-yellow);
    border: 4px solid var(--brand-dark);
    border-radius: 50%;

    &.start {
      inset-block-start: 10%;
      inset-inline-start: 10%;
    }

    &.end {
      inset-block-start: 80%;
      inset-inline-start: 80%;
    }
  }
}
