@layer reset, theme, setup, demo;

@layer demo {
  .start {
    anchor-name: --start-anchor;
  }

  .end {
    anchor-name: --end-anchor;
  }

  .shape {
    top: min(anchor(--start-anchor center), anchor(--end-anchor center));
    left: min(anchor(--start-anchor center), anchor(--end-anchor center));
    right: min(anchor(--start-anchor center), anchor(--end-anchor center));
    bottom: min(anchor(--start-anchor center), anchor(--end-anchor center));
  }
}

@layer setup {
  body {
    display: grid;
    place-items: center;
  }

  .container {
    position: relative;
    outline: 1px solid pink;
    inline-size: 400px;
    block-size: 400px;
    backface-visibility: hidden;
  }

  .shape {
    position: absolute;
    background-color: purple;
  }

  .handle {
    position: relative;
    inline-size: 40px;
    block-size: 40px;
    border-radius: 50%;
  }

  .start {
    background-color: green;
    top: 10%;
    left: 10%;
  }

  .end {
    background-color: red;
    top: 80%;
    left: 80%;
  }
}
