@layer reset, theme, setup, demo;

@layer demo {
  .srgb {
    background: linear-gradient(
      to right,
      var(--brand-purple),
      var(--brand-yellow)
    );
  }

  .lch {
    background: linear-gradient(
      in lch to right,
      var(--brand-purple),
      var(--brand-yellow)
    );
  }
}

@layer setup {
  main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .gradient {
    inline-size: 40vw;
    block-size: 20vh;
  }
}
