@layer reset, theme, setup, demo;

@layer demo {
  .card:not(:has(img)) h2 {
    padding: 2rem;
    color: var(--brand-purple);
    font-size: 4rem;
    border-inline-start: 10px solid currentcolor;
    background: var(--gradient-purple-pink-shorter);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

@layer setup {
  body {
    grid-template-columns: 0.5fr 1fr 1fr 0.5fr;
    gap: 2rem;
  }

  .card:first-child {
    grid-column: 2;
  }

  .card:last-child {
    grid-column: 3;
  }
}
