@layer reset, theme, setup, demo;

@layer demo {
  .card:has(img) .card-header {
    display: grid;
    grid-template-columns: 1fr;
  }

  .card:has(img) .card-header > * {
    grid-row: 1;
    grid-column: 1;
  }

  .card:has(img) h2 {
    background: var(--brand-yellow);
    align-self: end;
    padding: 1rem;
  }

  .button:has(svg) {
    align-items: center;
    gap: 0.5rem;
  }

  .card:has(img):has(.card-body) p {
    font-size: 1.4rem;
  }
}

@layer setup {
  body {
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 0.5fr;
    place-items: center;
    gap: 2rem;
  }

  .card:first-child {
    grid-column: 2;
  }

  .card:last-child {
    grid-column: 3;
  }

  .button svg {
    width: 2rem;
    height: 2rem;
  }
}
