@layer reset, theme, setup, demo;

@layer demo {
  .regular {
    background: linear-gradient(
      to right,
      var(--brand-purple),
      var(--brand-yellow)
    );
  }

  .long {
    background: linear-gradient(
      to right in hsl longer hue,
      var(--brand-purple),
      var(--brand-yellow)
    );
  }

  .shorter {
    background: linear-gradient(
      to right in hsl shorter hue,
      var(--brand-purple),
      var(--brand-yellow)
    );
  }
}

@layer setup {
  main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .gradient {
    inline-size: 40vw;
    block-size: 20vh;
  }
}
