@layer reset, theme, setup, demo;

@layer demo {
  main:has(button:hover) button:hover {
    transform: scale(1.8) translateY(-1rem);
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
    z-index: 10;
  }

  main:has(button:hover) button:has(+ button:hover),
  button:hover + button {
    transform: scale(1.4) translateY(-0.5rem);
  }
}

@layer setup {
  body {
    display: grid;
    place-items: center;
  }

  main {
    display: flex;
    gap: 1rem;
  }

  .button {
    transition: transform 0.3s;
  }
}
